@font-face {
  font-family: 'Sooran-Icon-Pack';
  src:  url('../webfonts/Sooran-Icon-Pack.eot?z61900');
  src:  url('../webfonts/Sooran-Icon-Pack.eot?z61900#iefix') format('embedded-opentype'),
    url('../webfonts/Sooran-Icon-Pack.ttf?z61900') format('truetype'),
    url('../webfonts/Sooran-Icon-Pack.woff?z61900') format('woff'),
    url('../webfonts/Sooran-Icon-Pack.svg?z61900#Sooran-Icon-Pack') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="s-"], [class*=" s-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Sooran-Icon-Pack' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-printer:before {
  content: "\e834";
}
.s-money-alt:before {
  content: "\e828";
}
.s-mouse-pointer:before {
  content: "\e829";
}
.s-satellite-dish:before {
  content: "\e831";
}
.s-bag:before {
  content: "\e823";
}
.s-company:before {
  content: "\e824";
}
.s-connections:before {
  content: "\e825";
}
.s-garbage:before {
  content: "\e826";
}
.s-light:before {
  content: "\e827";
}
.s-programming:before {
  content: "\e830";
}
.s-smartphone-settings:before {
  content: "\e832";
}
.s-web-design:before {
  content: "\e833";
}
.s-house-contract:before {
  content: "\e821";
}
.s-checklist:before {
  content: "\e969";
}
.s-resume-alt-1:before {
  content: "\e981";
}
.s-resume-alt:before {
  content: "\e980";
}
.s-rosary:before {
  content: "\e977";
}
.s-rank:before {
  content: "\e978";
}
.s-muffin:before {
  content: "\e965";
}
.s-mouse:before {
  content: "\e966";
}
.s-canvas:before {
  content: "\e967";
}
.s-card-vip:before {
  content: "\e968";
}
.s-gauge:before {
  content: "\e970";
}
.s-Information:before {
  content: "\e971";
}
.s-leaflet:before {
  content: "\e972";
}
.s-list:before {
  content: "\e973";
}
.s-location:before {
  content: "\e974";
}
.s-money:before {
  content: "\e975";
}
.s-play-button:before {
  content: "\e976";
}
.s-resume:before {
  content: "\e979";
}
.s-search:before {
  content: "\e982";
}
.s-settings:before {
  content: "\e983";
}
.s-smartphone:before {
  content: "\e984";
}
.s-speakers:before {
  content: "\e985";
}
.s-tablet:before {
  content: "\e986";
}
.s-timer:before {
  content: "\e987";
}
.s-vip-star:before {
  content: "\e988";
}
.s-arrow-down:before {
  content: "\e814";
}
.s-arrow-left:before {
  content: "\e815";
}
.s-arrow-right:before {
  content: "\e816";
}
.s-arrow-up:before {
  content: "\e817";
}
.s-down-circle-arrow:before {
  content: "\e818";
}
.s-left-circle-arrow:before {
  content: "\e996";
}
.s-right-circle-arrow:before {
  content: "\e819";
}
.s-up-circle-arrow:before {
  content: "\e820";
}
.s-wrench:before {
  content: "\e964";
}
.s-checklist-alt:before {
  content: "\e991";
}
.s-gift-alt:before {
  content: "\e951";
}
.s-study:before {
  content: "\e810";
}
.s-book:before {
  content: "\e989";
}
.s-boss:before {
  content: "\e990";
}
.s-circle-plus:before {
  content: "\e992";
}
.s-female:before {
  content: "\e993";
}
.s-female-user:before {
  content: "\e994";
}
.s-line-chart:before {
  content: "\e997";
}
.s-location-pin:before {
  content: "\e998";
}
.s-magnifier:before {
  content: "\e999";
}
.s-male:before {
  content: "\e800";
}
.s-male-user:before {
  content: "\e801";
}
.s-mouse-arrow:before {
  content: "\e802";
}
.s-notification:before {
  content: "\e803";
}
.s-play:before {
  content: "\e804";
}
.s-police-station:before {
  content: "\e805";
}
.s-presentation:before {
  content: "\e806";
}
.s-progress-chart:before {
  content: "\e807";
}
.s-qrcode:before {
  content: "\e808";
}
.s-shell:before {
  content: "\e92d";
}
.s-tap:before {
  content: "\e811";
}
.s-tree:before {
  content: "\e812";
}
.s-umbrella:before {
  content: "\e813";
}
.s-circle-check:before {
  content: "\e822";
}
.s-eye:before {
  content: "\e938";
}
.s-factory:before {
  content: "\e950";
}
.s-antenna:before {
  content: "\e943";
}
.s-attachment:before {
  content: "\e944";
}
.s-contract:before {
  content: "\e937";
}
.s-folder:before {
  content: "\e939";
}
.s-gift:before {
  content: "\e940";
}
.s-heart:before {
  content: "\e941";
}
.s-leaf:before {
  content: "\e942";
}
.s-check-alt:before {
  content: "\e957";
}
.s-file-edit:before {
  content: "\e960";
}
.s-danger-sign:before {
  content: "\e949";
}
.s-apartment-park:before {
  content: "\e958";
}
.s-shield-danger:before {
  content: "\e963";
}
.s-credit-card:before {
  content: "\e948";
}
.s-times-circle:before {
  content: "\e956";
}
.s-barcode:before {
  content: "\e945";
}
.s-catalog:before {
  content: "\e946";
}
.s-chart:before {
  content: "\e947";
}
.s-handshake:before {
  content: "\e952";
}
.s-help:before {
  content: "\e953";
}
.s-picture:before {
  content: "\e954";
}
.s-refresh:before {
  content: "\e955";
}
.s-apartments:before {
  content: "\e959";
}
.s-password:before {
  content: "\e961";
}
.s-safe:before {
  content: "\e962";
}
.s-download:before {
  content: "\e930";
}
.s-circle-plus1:before {
  content: "\e922";
}
.s-circle:before {
  content: "\e914";
}
.s-history:before {
  content: "\e915";
}
.s-square:before {
  content: "\e916";
}
.s-edit:before {
  content: "\e935";
}
.s-plus:before {
  content: "\e931";
}
.s-times:before {
  content: "\e928";
}
.s-users-group:before {
  content: "\e929";
}
.s-telephone:before {
  content: "\e933";
}
.s-envelope:before {
  content: "\e926";
}
.s-upload:before {
  content: "\e927";
}
.s-times-square:before {
  content: "\e932";
}
.s-user-circle:before {
  content: "\e923";
}
.s-exit:before {
  content: "\e925";
}
.s-check:before {
  content: "\e924";
}
.s-angle-left:before {
  content: "\e921";
}
.s-angle-right:before {
  content: "\e919";
}
.s-angle-up:before {
  content: "\e920";
}
.s-angle-down:before {
  content: "\e900";
}
.s-apartment:before {
  content: "\e901";
}
.s-bell:before {
  content: "\e902";
}
.s-calendar:before {
  content: "\e903";
}
.s-card-star:before {
  content: "\e904";
}
.s-check-circle:before {
  content: "\e905";
}
.s-check-square:before {
  content: "\e906";
}
.s-coins:before {
  content: "\e907";
}
.s-bitcoin:before {
  content: "\e908";
}
.s-headphone:before {
  content: "\e909";
}
.s-home:before {
  content: "\e90a";
}
.s-id-card:before {
  content: "\e90b";
}
.s-lock:before {
  content: "\e90c";
}
.s-phone:before {
  content: "\e90d";
}
.s-profile:before {
  content: "\e90e";
}
.s-radio:before {
  content: "\e90f";
}
.s-shield-check:before {
  content: "\e910";
}
.s-setting:before {
  content: "\e911";
}
.s-user:before {
  content: "\e912";
}
.s-user-alt-1:before {
  content: "\e913";
}
.s-tinet:before {
  content: "\e918";
}
.s-tinet-alt:before {
  content: "\e917";
}
