@font-face {
  font-family: 'Sooran-Icon-Pack-Regular';
  src:  url('../webfonts/Sooran-Icon-Pack-Regular.eot?lcs3vw');
  src:  url('../webfonts/Sooran-Icon-Pack-Regular.eot?lcs3vw#iefix') format('embedded-opentype'),
    url('../webfonts/Sooran-Icon-Pack-Regular.ttf?lcs3vw') format('truetype'),
    url('../webfonts/Sooran-Icon-Pack-Regular.woff?lcs3vw') format('woff'),
    url('../webfonts/Sooran-Icon-Pack-Regular.svg?lcs3vw#Sooran-Icon-Pack-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="s-"], [class*=" s-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Sooran-Icon-Pack-Regular' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-bag:before {
  content: "\e823";
}
.s-company:before {
  content: "\e824";
}
.s-connections:before {
  content: "\e825";
}
.s-garbage:before {
  content: "\e826";
}
.s-light:before {
  content: "\e827";
}
.s-programming:before {
  content: "\e830";
}
.s-smartphone-settings:before {
  content: "\e832";
}
.s-web-design:before {
  content: "\e833";
}
.s-house-contract:before {
  content: "\e821";
}
.s-checklist:before {
  content: "\e969";
}
.s-resume-alt-1:before {
  content: "\e981";
}
.s-resume-alt:before {
  content: "\e980";
}
.s-rosary:before {
  content: "\e977";
}
.s-rank:before {
  content: "\e978";
}
.s-muffin:before {
  content: "\e965";
}
.s-mouse:before {
  content: "\e966";
}
.s-canvas:before {
  content: "\e967";
}
.s-card-vip:before {
  content: "\e968";
}
.s-gauge:before {
  content: "\e970";
}
.s-Information:before {
  content: "\e971";
}
.s-leaflet:before {
  content: "\e972";
}
.s-list:before {
  content: "\e973";
}
.s-location:before {
  content: "\e974";
}
.s-money:before {
  content: "\e975";
}
.s-play-button:before {
  content: "\e976";
}
.s-resume:before {
  content: "\e979";
}
.s-search:before {
  content: "\e982";
}
.s-settings:before {
  content: "\e983";
}
.s-smartphone:before {
  content: "\e984";
}
.s-speakers:before {
  content: "\e985";
}
.s-tablet:before {
  content: "\e986";
}
.s-timer:before {
  content: "\e987";
}
.s-vip-star:before {
  content: "\e988";
}
.s-circle-check:before {
  content: "\e822";
}
.s-eye:before {
  content: "\e938";
}
.s-factory:before {
  content: "\e950";
}
.s-antenna:before {
  content: "\e943";
}
.s-attachment:before {
  content: "\e944";
}
.s-contract:before {
  content: "\e937";
}
.s-folder:before {
  content: "\e939";
}
.s-gift:before {
  content: "\e940";
}
.s-heart:before {
  content: "\e941";
}
.s-leaf:before {
  content: "\e942";
}
.s-credit-card:before {
  content: "\e948";
}
.s-download:before {
  content: "\e930";
}
.s-circle-plus1:before {
  content: "\e922";
}
.s-circle:before {
  content: "\e914";
}
.s-history:before {
  content: "\e915";
}
.s-square:before {
  content: "\e916";
}
.s-tinet-alt:before {
  content: "\e917";
}
