$s-font-family: "Sooran-Icon-Pack" !default;
$s-font-path: "../webfonts" !default;

$s-circle: "\e914";
$s-history: "\e915";
$s-square: "\e916";
$s-angle-down: "\e900";
$s-apartment: "\e901";
$s-bell: "\e902";
$s-calendar: "\e903";
$s-card-star: "\e904";
$s-check-circle: "\e905";
$s-check-square: "\e906";
$s-coins: "\e907";
$s-bitcoin: "\e908";
$s-headphone: "\e909";
$s-home: "\e90a";
$s-id-card: "\e90b";
$s-lock: "\e90c";
$s-phone: "\e90d";
$s-profile: "\e90e";
$s-radio: "\e90f";
$s-shield-check: "\e910";
$s-setting: "\e911";
$s-user: "\e912";
$s-user-alt-1: "\e913";
$s-tinet: "\e918";
$s-tinet-alt: "\e917";

