$s-font-family: "Sooran-Icon-Pack-Solid" !default;
$s-font-path: "../webfonts" !default;

$s-printer: "\e834";
$s-money-alt: "\e828";
$s-mouse-pointer: "\e829";
$s-satellite-dish: "\e831";
$s-arrow-down: "\e814";
$s-arrow-left: "\e815";
$s-arrow-right: "\e816";
$s-arrow-up: "\e817";
$s-down-circle-arrow: "\e818";
$s-left-circle-arrow: "\e996";
$s-right-circle-arrow: "\e819";
$s-up-circle-arrow: "\e820";
$s-wrench: "\e964";
$s-checklist-alt: "\e991";
$s-gift-alt: "\e951";
$s-study: "\e810";
$s-book: "\e989";
$s-boss: "\e990";
$s-circle-plus: "\e992";
$s-female: "\e993";
$s-female-user: "\e994";
$s-line-chart: "\e997";
$s-location-pin: "\e998";
$s-magnifier: "\e999";
$s-male: "\e800";
$s-male-user: "\e801";
$s-mouse-arrow: "\e802";
$s-notification: "\e803";
$s-play: "\e804";
$s-police-station: "\e805";
$s-presentation: "\e806";
$s-progress-chart: "\e807";
$s-qrcode: "\e808";
$s-shell: "\e92d";
$s-tap: "\e811";
$s-tree: "\e812";
$s-umbrella: "\e813";
$s-check-alt: "\e957";
$s-file-edit: "\e960";
$s-danger-sign: "\e949";
$s-apartment-park: "\e958";
$s-shield-danger: "\e963";
$s-times-circle: "\e956";
$s-barcode: "\e945";
$s-catalog: "\e946";
$s-chart: "\e947";
$s-handshake: "\e952";
$s-help: "\e953";
$s-picture: "\e954";
$s-refresh: "\e955";
$s-apartments: "\e959";
$s-password: "\e961";
$s-safe: "\e962";
$s-edit: "\e935";
$s-plus: "\e931";
$s-times: "\e928";
$s-users-group: "\e929";
$s-telephone: "\e933";
$s-envelope: "\e926";
$s-upload: "\e927";
$s-times-square: "\e932";
$s-user-circle: "\e923";
$s-exit: "\e925";
$s-check: "\e924";
$s-angle-left: "\e921";
$s-angle-right: "\e919";
$s-angle-up: "\e920";
$s-angle-down: "\e900";
$s-apartment: "\e901";
$s-bell: "\e902";
$s-calendar: "\e903";
$s-card-star: "\e904";
$s-check-circle: "\e905";
$s-check-square: "\e906";
$s-coins: "\e907";
$s-bitcoin: "\e908";
$s-headphone: "\e909";
$s-home: "\e90a";
$s-id-card: "\e90b";
$s-lock: "\e90c";
$s-phone: "\e90d";
$s-profile: "\e90e";
$s-radio: "\e90f";
$s-shield-check: "\e910";
$s-setting: "\e911";
$s-user: "\e912";
$s-user-alt-1: "\e913";
$s-tinet: "\e918";

